*
!*/
!.gitignore
!README.md
!shape-config/*.txt
!shape-config/**/*.txt
shape-config/*.yaml
shape-config/**/*.yaml
shape-config/*_gain.yaml
shape-config/**/*_gain.yaml
shape-config/*_lose.yaml
shape-config/**/*_lose.yaml
!scripts/*.sh
!scripts/**/*.sh
!processing/*.py
!processing/**/*.py
!mm_pipeline/*.py
!mm_pipeline/**/*.py